<footer class="container">
    <div class="">Follow Us</div>
    <div class="logo">
        <div class="youtube">
            <a href="https://www.youtube.com" target="_blank"> </a>
        </div>
        <div class="twitter">
            <a href="https://www.twitter.com" target="_blank"></a>
        </div>
        <div class="instagram">
            <a href="https://www.instagram.com" target="_blank"></a>
        </div>
        <div class="facebook">
            <a href="https://www.facebook.com" target="_blank"></a>
        </div>
    </div>


</footer>