<div class="container_middle">
    <div *ngIf="!submitted">
        <h1>Review</h1>
        <hr>
        <h2>Personal Information</h2>
        <div class="formfield-module__root">
            <div class="formfield-module__label">Title</div>
            <div class="formfield-module__colon">:</div>
            <div class="formfield-module__data">{{ data.personalDetails?.title }}</div>
        </div>
        <div class="formfield-module__root">
            <div class="formfield-module__label">First Name</div>
            <div class="formfield-module__colon">:</div>
            <div class="formfield-module__data">{{ data.personalDetails?.firstName }}</div>
        </div>
        <div class="formfield-module__root">
            <div class="formfield-module__label">Last Name</div>
            <div class="formfield-module__colon">:</div>
            <div class="formfield-module__data">{{ data.personalDetails?.lastName }}</div>
        </div>
        <div class="formfield-module__root">
            <div class="formfield-module__label">Email</div>
            <div class="formfield-module__colon">:</div>
            <div class="formfield-module__data">{{ data.personalDetails?.email }}</div>
        </div>
        <div class="formfield-module__root">
            <div class="formfield-module__label">Country Code</div>
            <div class="formfield-module__colon">:</div>
            <div class="formfield-module__data">{{ data.personalDetails?.countryCode }}</div>
        </div>
        <div class="formfield-module__root">
            <div class="formfield-module__label">Phone Number</div>
            <div class="formfield-module__colon">:</div>
            <div class="formfield-module__data">{{ data.personalDetails?.phoneNumber }}</div>
        </div>
        <div class="formfield-module__root">
            <div class="formfield-module__label">Address</div>
            <div class="formfield-module__colon">:</div>
            <div class="formfield-module__data">{{ data.personalDetails?.addressLine1 }}<br> {{ data.personalDetails?.addressLine2 }}<br *ngIf="data.personalDetails?.addressLine2.length"> {{ data.personalDetails?.addressLine3 }}<br *ngIf="data.personalDetails?.addressLine3.length"> {{ data.personalDetails?.city
                }}
                <br *ngIf="data.personalDetails?.county.length"> {{ data.personalDetails?.county }}<br> {{ data.personalDetails?.postCode }}
            </div>
        </div>

        <hr>
        <div *ngFor="let edu of data.eduDetails.eduDetails; let i = index">
            <h2>Education {{i+1}}</h2>
            <div class="formfield-module__root">
                <div class="formfield-module__label">School</div>
                <div class="formfield-module__colon">:</div>
                <div class="formfield-module__data">{{ edu?.collegeName }}</div>
            </div>
            <div class="formfield-module__root">
                <div class="formfield-module__label">Degree</div>
                <div class="formfield-module__colon">:</div>
                <div class="formfield-module__data">{{ edu?.degree }}</div>
            </div>
            <div class="formfield-module__root">
                <div class="formfield-module__label">Field of Study</div>
                <div class="formfield-module__colon">:</div>
                <div class="formfield-module__data">{{ edu?.subject }}</div>
            </div>
            <div class="formfield-module__root">
                <div class="formfield-module__label">Result</div>
                <div class="formfield-module__colon">:</div>
                <div class="formfield-module__data">{{ edu?.result }}</div>
            </div>
            <div class="formfield-module__root">
                <div class="formfield-module__label">From</div>
                <div class="formfield-module__colon">:</div>
                <div class="formfield-module__data">{{ edu?.fromDate }}</div>
            </div>
            <div class="formfield-module__root">
                <div class="formfield-module__label">To</div>
                <div class="formfield-module__colon">:</div>
                <div class="formfield-module__data">{{ edu?.toDate }}</div>
            </div>
        </div>
        <hr>
        <div *ngFor="let work of data.workDetails.workDetails; let i = index">
            <h2>Work Experience {{i+1}}</h2>
            <div class="formfield-module__root">
                <div class="formfield-module__label">Job Title</div>
                <div class="formfield-module__colon">:</div>
                <div class="formfield-module__data">{{ work?.jobTitle }}</div>
            </div>
            <div class="formfield-module__root">
                <div class="formfield-module__label">Company Name</div>
                <div class="formfield-module__colon">:</div>
                <div class="formfield-module__data">{{ work?.companyName }}</div>
            </div>
            <div class="formfield-module__root">
                <div class="formfield-module__label">Location</div>
                <div class="formfield-module__colon">:</div>
                <div class="formfield-module__data">{{ work?.location }}</div>
            </div>
            <div class="formfield-module__root">
                <div class="formfield-module__label">Description</div>
                <div class="formfield-module__colon">:</div>
                <div class="formfield-module__data">{{ work?.description }}</div>
            </div>
            <div class="formfield-module__root">
                <div class="formfield-module__label">From</div>
                <div class="formfield-module__colon">:</div>
                <div class="formfield-module__data">{{ work?.fromDate }}</div>
            </div>
            <div class="formfield-module__root">
                <div class="formfield-module__label">To</div>
                <div class="formfield-module__colon">:</div>
                <div class="formfield-module__data">{{ work?.toDate }}</div>
            </div>
        </div>
        <hr>
        <button (click)="onSubmit()" class="next_btn">Submit</button><br>
    </div>
    <p *ngIf="submitted">Thanks for submitting the application. We have received your application and will get back to you soon. Please <a routerLink="/login">Click here</a> to go back to login page.</p>
</div>