<div class="container_middle">
    <div class="login_text">
        <h1 *ngIf="!isAccountCreated">Create Account</h1>
        <h1 *ngIf="isAccountCreated">Success!!!</h1>
    </div>
    <div class="login-information">
        <form [formGroup]="signupForm" *ngIf="!isAccountCreated">
            <div class="formfield-module__root">
                <label class="formfield-module__label " for="firstName">First Name</label>
                <input id="firstName" class="formfield-module__input" type="text" formControlName="firstName" />
                <div class="formError" *ngIf="!firstName?.valid && firstName?.touched">
                    <div *ngIf="firstName?.errors?.required">First Name is required</div>
                </div>
            </div>
            <div class="formfield-module__root">
                <label for="lastName" class="formfield-module__label">Last Name</label>
                <input id="lastName" class="formfield-module__input" autocomplete="on" type="text" formControlName="lastName" />
                <div class="formError" *ngIf="!lastName?.valid && lastName?.touched">
                    <div *ngIf="lastName?.errors?.required">Last Name is required</div>
                </div>
            </div>
            <div class="formfield-module__root">
                <label for="email" class="formfield-module__label">Email</label>
                <input id="email" class="formfield-module__input" autocomplete="on" type="email" formControlName="email" />
                <div class="formError" *ngIf="!email?.valid && email?.touched">
                    <div *ngIf="email?.errors?.required">Email is required</div>
                    <div *ngIf="email?.errors?.email">Email is not valid</div>
                </div>
            </div>
            <div class="formfield-module__root">
                <label for="password" class="formfield-module__label">Password</label>
                <input id="password" class="formfield-module__input" autocomplete="on" type="password" formControlName="password" />
                <div class="formError" *ngIf="!password?.valid && password?.touched">
                    <div *ngIf="password?.errors?.required">Password is required</div>
                </div>
            </div>

            <button class="btn_login" [disabled]="!signupForm.valid" (click)="onSubmit()">Create Account</button>
            <a class="back_to_login" routerLink="/login">Back to Log in page</a>
        </form>

        <p *ngIf="isAccountCreated">Account created successfully. Please <a routerLink="/login">Click here</a> to go back to login page.</p>
    </div>
</div>